@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

:root {
  --basic-black: black;
  --button-shadow-color: rgba(0, 1, 1, 0.1);
  --basic-yellow: #efc849;
  --light-yellow: #EAB534;
  --dark-yellow: #E5A722;
  --basic-red: #FB565a;
  --light-red: #E74246;
  --dark-red: #D7373B;
  --basic-green: #00ca74;
  --light-green: #00BC6C;
  --dark-green: #00AA62;
  --basic-light-grey: #eeeeee;
  --light-grey: #ababab;
  --basic-medium-grey: #DFDFDF;
  --basic-dark-grey: #D5D5D5;
  --basic-white: #ffffff;
  --white: #f1f1f1;
  --new-grey: #d7dcde;
  --shadow-color: #cfcfcf;
  --dark-grey: #283136;
  --mediun-grey: #A6A6A6;
  --social-items: #E1E1E1;
}

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  color: var(--basic-black);
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main header */

.main-header {
  padding-bottom: 70px;
  outline: 5px solid rgba(131, 218, 131, 0.3);
  outline-offset: -5px;
  background-color: var(--basic-light-grey);
}


/* main navigation */
.main-navigation {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 50px 15px;
}


/* Logo */

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  max-width: 200px;
}

.inner-page .main-header-logo {
  border: 0;
}

.main-header-logo:active {
  fill: var(--mediun-grey);
}

/**  ????**/

/* Container */

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
}

.page-catalog {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}


.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
}

.site-navigation li:not(:first-child) {
  margin-left: 45px;
}

.site-navigation-link,
.cart-link {
  display: block;
  padding: 25px 20px;
}


.cart {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.cart .cart-link {
  padding-left: 50px;
  position: relative;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 16px;
  height: 18px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart-link:hover::before,
.cart-link:focus::before,
.cart-link:active::before {
  opacity: 1;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-light-grey);
}

.site-navigation-link,
.cart-link {
  color: var(--basic-black);
  text-transform: uppercase;
  display: block;
  padding: 25px 20px;
}

.site-navigation-link:hover,
.cart-link:hover: {
  color: var(--basic-red);
}

.site-navigation-link:active,
.cart-link:active {
  color: var(--basic-light-grey);
}

/** ????   **/

.site-navigation-link {
  position: relative;
}

.site-navigation-link::before:active {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 79px;
  top: 66%;
  left: 58px;
  transform: translateX(-50%);
  background-color: var(--basic-red);
}

/** ????  **/

.slider {
  display: flex;
  align-items: center;
  background-color: var(--basic-light-grey);
  padding-top: 0;
  position: relative;
}

.slider-text {
  text-align: left
}

.slider-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-controls {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: var(--basic-white);
}

.wraper-slider {
  display: flex;
}
.offer {
  padding: 80px 0;
  border-bottom: 2px solid var(--basic-light-grey);

}

.offer-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.offer-item {
  text-align: left;
  margin-right: 80px;
}

.offer-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.offer-item:nth-child(3n) {
  margin-right: 0;
}

.offer-text {
  max-width: 260px;
}

.description {
  display: flex;
  justify-self: start;
  text-align: left;
  padding: 73px 0;
  border-bottom: 2px solid var(--basic-light-grey);
}

.description-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.description-offer {
  text-transform: uppercase;
}

.description-list {
  list-style: none;
  padding-left: 35px;
}

.description-item {
  position: relative;
}

.description-item::before {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 25px;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
  background-color: var(--basic-red);
}

.info-plus {
  max-width: 360px;
  padding: 40px;
}

.nerds-results {
  text-align: center;
  max-width: 650px;
}

.results {
  text-align: center;
  display: flex;
  align-items: center;
}

.results-description {
  text-transform: uppercase;
}

.results-items {
  align-items: center;
  list-style: none;
  margin-right: 22px;
}

.results-number {
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
}

.result-procent {
  font-size: 26px;
  line-height: 40px;
}

.our-products {
  border-bottom: 2px solid #eee;
}

.our-products__list {
  display: flex;
  justify-content: space-between;
}


.our-products__item {
  opacity: 0.2;
}

.our-products__item:hover,
.our-products__list:focus {
  opacity: 1;
}

.our-products__item:active {
  opacity: 0.1;
}

.our-products__item {
  list-style: none;
  /**border-right: 2px solid #eee;**/
  padding: 40px 20px;
}

.our-products__item::after {
  content: " ";
  background: var(--basic-medium-grey);
  width: 2px;
  height: 52px;
  float: left;
  margin-right: 30px;
}


.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/**.our-products__item:nth-child(4n) {
  border-right: none;
}  **/

.main-footer {
  padding: 60px 0;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.footer-content {
  display: flex;
}

.footer-social {
  display: flex;
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: var(--basic-white);
  align-items: center;
  text-align: center;
}

.social-item {
  background-color: var(--basic-grey);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 8px;
}

/* Social button */

.social-button {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social-item:hover,
.social-item:focus {
  background: linear-gradient(0deg, var(--light-red), var(--light-red)), var(--basic-white);
}

.social-item:hover,
.social-item:active {
  background: linear-gradient(0deg, var(--dark-red), var(--dark-red)), var(--basic-white);
  box-shadow: inset 0px 3px 0px var(--button-shadow-color);
}

.footer-text {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  margin: 0 0 0 140px;
}

.footer-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.footer-sale-offer {
  line-height: 22px;
}

.map-wraper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 416px;
}

.contacts-wraper {
  box-shadow: inset 0px 3px 0p var(--button-shadow-color);
  width: 100%;
  max-width: 319px;
  max-height: 308px;
  border: 2px solid var(--basic-yellow);
  position: absolute;
  margin: 50px;
  margin-left: 140px;
  margin-bottom: 40px;
  background-color: var(--basic-white);
  padding: 50px;
  box-sizing: border-box;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.contacts-text {
  line-height: 18px;
}

/* Write to us modal */

.modal-contacts {
  top: 120px;
  bottom: auto;
  max-width: 500px;
  max-height: 400px;
  padding: 50px 80px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 30px 50px var(--shadow-color);
}

.modal-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
}
/**.modal-title {
  margin: 0, 0, 30px, 0;
  font-size: 24px;
  line-height: 24px;
}  **/


.modal-close {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}


/**.form-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid black;
}  **/


.modal {
 /** display: inline-block;
  vertical-align: baseline;**/
  display: none;
}


.form-item {
  margin: 0;
  margin-bottom: 10px;
}

.form-input-wrapper {
  display: flex;
  max-width: 960px;
  max-height: 590px;

}

.form-info--half {
  width: 50%;
}

.form-info-plus {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  margin-bottom: 8px;
}


.form-info input, 
.form-info textarea {
  color: var=(--dark-grey);
  opacity: 0.2;
}

.form-info input:hover,
.form-info textarea:hover {
  color: var=(--dark-grey);
  opacity: 0.5;
}

.form-info input:active,
 .form-info textarea:active {
  color: var=(--dark-grey);
  opacity: 0.1;
}

.form-info input:invalid {
  color: var(--basic-red);
}

.modal-close {
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.form-contacts {
  margin: 0;
  margin-bottom: 10px;
}

/** filter  **/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--white);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--new-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--light-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-color);
  cursor: pointer;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--dark-grey);
  border: none;
  border-radius: 5px;
  background-color: var(--white);
  font-family: inherit;
  font-size: inherit;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}




/* Button */

.button {
  display: inline-block;
  vertical-align: baseline;
  font: inherit;
  text-align: center;
  padding: 16px 40px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 3px;
}

.button--red {
  background-color: var(--basic-red);
}

.button--red:hover {
  background-color: var(--light-red);
}

.button--red:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0p var(--button-shadow-color);
}

.button--green {
  background-color: var(--basic-green);
}

.button--green:hover {
  background-color: var(--light-green);
}

.button--green:active {
  background-color: var(--dark-green);
  box-shadow: inset 0px 3px 0px var(--button-shadow-color);
}

.button--yellow {
  background-color: var(--basic-yellow);
}

.button--yellow:hover {
  background-color: var(--light-yellow);
}

.button--yellow:active {
  background-color: var(--dark-yellow);
  box-shadow: inset 0px 3px 0px var(--button-shadow-color);
}

.button--grey {
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
}

.button--grey:hover {
  background-color: var(--basic-medium-grey);
}

.button--grey:active {
  background-color: var(--basic-dark-grey);
  box-shadow: inset 0px 3px 0px var(--button-shadow-color);
}

.button-filter,
 .button-arrow {
  color: var(--basic-black);
  background-color: transparent;
}

.button-filter,
.button-arrow {
  color: var(--basic-black);
  opacity: 0.3;
}

.button-filter:hover,
.button-arrow:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.button-filter:active,
.button-arrow:active {
  color: var(--basic-black);
  opacity: 1;
}

.arrow-up {
  transform: rotate(180deg);
}

.button-number {
  width: 50px;
  height: 50px;
}

.social-item {
  background: linear-gradient(0deg, var(--social-items), var(--social-items)), var(--basic-white);
}

/** Catalog   **/

.catalog {
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  margin-left: 138px;
  list-style: none;
}

.catalog-item {
  max-width: 360px;
  min-height: 576px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.catalog-title {
  text-align: center;
  margin-top: 0;
  padding-bottom: 108px;
}

.page-catalog {
  margin-top: 55px;
  display: flex;
}

.products {
  display: flex;
}

.aside-filter {
  max-width: 260px;
}

.inner-page .main-header {
  margin-bottom: 0;
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color: var(--basic-light-grey);
}

.catalog-item-image {
  max-width: 360px;
  height: 576px;
  margin: 0;
}

.catalog {
  width: 260px;
}


.social-list {
  display: flex;
}

.title-group {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.filter-option {
  line-height: 19px;
  list-style: none;
}

.items-sort {
  margin-left: 140px;
  margin-bottom: 45px;
}


.group-submit {
  background-color: var(--basic-light-grey);
}

.catalog-item {
  list-style: none;
  position: relative;
}

.info-plus {
  display: block;
  text-align: center;
  background-color: var(--basic-light-grey);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  display: none;
  max-height: 250px;
  text-align: center;
}

.catalog-item-price {
  width: 100%;
  max-width: 200px;
}

.catalog-item:hover .info-plus,
.catalog-item:hover .peak-image {
  display: block;
  opacity: 1;
}



.product-card {
  position: relative;
}  

.peak-image {
  position:absolute;
  top: -35px;
  bottom: 0;
  opacity: 0.12;
} 


.item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.item-title:hover {
  color: var(--basic-red);
}

.item-title:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

/** .filter-checkbox,
.filter-checkbox:hover {
  color: var(--dark-grey);
}

.filter-radio,
.filter-radio:hover {
  color: var(--dark-grey);
}

.filter-checkbox:disabled .filter-radio:disabled {
  color: var(--dark-grey);
  mix-blend-mode: normal;
  opacity: 0.3;
}  **/

.filter-option label {
  color: var(--dark-grey);
  opacity: 0.4;
}

.filter-option label:hover {
  color: var(--dark-grey);
  opacity: 1;
}

.filter-option label:disabled {
  color: var(--dark-grey);
  opacity: 0.3;
  mix-blend-mode: normal;
}

.next-page {
  display: inline-block;
  align-items: center;
  margin: 20px;
  margin-left: 140px;
}

/**.catalog-list {
  position: relative;
}

.next-page {
  position: absolute;
  bottom: 0;
  left: 0;
} **/
